img{
    height: 80px;
    width: 100px;
    border-radius: 50%;
  }
  
  .pitch{
    background-color: grey;
    color:white;
    height:50px;
    border-radius: 5%;
    margin:10px;
    padding:5px;
  }
  
  button{
    margin:5px;
  }
  
  .block{
    background-color: blanchedalmond;
  }
  
  .hh{
    border:2px solid black;
    padding:4px;
  }
  
  
  
  
  body{
    background-color: rgb(255, 240, 217);
  }
  
  li>a{
    font-family: 'Courier New';
    font-style: oblique;
    color: rgb(21, 21, 117);
  }